* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}

:root {
  --main-color: #1976d2;
  --hover-color: #144b8a;
  --background: #eef0f1;
  --text-color: #2e2e2e;
}

body {
  direction: rtl;
  background-color: var(--background);
  color: var(--text-color);
  line-height: 1.5;
  -webkit-print-color-adjust: exact; /* يخلي الطباعة تحافظ على الألوان */
  print-color-adjust: exact;
}

/* عشان الطباعة */
@media print {
  body {
    background: white !important; /* خلي الخلفية بيضا */
    color: black !important;       /* النصوص تبقى واضحة */
    margin: 0;
    padding: 0;
  }

  @page {
    size: auto;
    margin: 0; /* يشيل الحواف في الطباعة */
  }
}
